.App {
  text-align: center;
}

.hero {
  height: 500px;
  background-image: url("@/assets/hero-bg.png");
  background-position: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  font-family: "Sora", sans-serif;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__title {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    text-align: left;
    background-color: #1a1d23;
    width: fit-content;
    padding: 10px;
  }
  &__subtitle {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    background-color: #1a1d23;
    width: fit-content;
    padding: 10px;
    border-right: 2px solid transparent;
    &::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 1.2em;
      vertical-align: bottom;
      border-right: 2px solid #fff;
      animation: blinkCursor 0.7s step-end infinite;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #fff;
    text-align: left;
  }
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent; /* Hide cursor */
  }
  50% {
    border-color: #fff; /* Show cursor */
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
